
body{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: #f3f9ff;
}
header{
    margin-top: 0;
    background-color: #89b4d9;
    max-width: 100%;
}
form, h1{
    max-width: 700px;
    margin: auto;
}
input, select, textarea{
    width: 100%;
    padding:8px;
    margin-bottom: 12px;
    box-sizing: border-box;
    background-color: #89b4d9;    
}
fieldset{
    margin-bottom: 12px;
    border: 1px solid #7493b3;
    padding:12px;
}
button{
        padding:10px;
        background-color: #4c8897;
        cursor: pointer;
    border-radius: 10%;
}

pre{
    max-width: 700px;
}

.buttons{
    display:flex;
    justify-content: center;
    gap: 10px;
}

#TnC, #privacypolicy{
    width: 24px;
} 
